<form method="post" action="{{ path('promotion_code_delete', {'id': promotion_code.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promotion_code.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
</form>
