<form method="post" action="{{ path('promo_code_owner_crud_delete', {'id': promo_code_owner.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promo_code_owner.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>
