{% extends 'base.html.twig' %}

{% block title %}Edit Useranswer{% endblock %}

{% block body %}
    <h1>Edit Useranswer</h1>

    {{ include('useranswer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('useranswer_index') }}">back to list</a>

    {{ include('useranswer/_delete_form.html.twig') }}
{% endblock %}
